NameVirtualHost *:80

#
# VirtualHost example:
# Almost any Apache directive may go into a VirtualHost container.
# The first VirtualHost section is used for all requests that do not
# match a ServerName or ServerAlias in any <VirtualHost> block.
#
<VirtualHost *:80>
    ServerAdmin webmaster@dummy-host.eastlink.ca
    DocumentRoot "E:/Applicazioni/sviluppo/AppWeb-1.0/web/"
    ServerName appweb.castor
    
	LogLevel alert rewrite:trace8
	ErrorLog "logs/appweb-error.log"
	
	SetEnv DATA_DIR "E:/Applicazioni/sviluppo/AppWeb-1.0/demo/appweb/"
	
    CustomLog "logs/appweb-access.log" common
    <Directory "E:/Applicazioni/sviluppo/AppWeb-1.0/web/">
        AllowOverride None
        Options Indexes FollowSymLinks Multiviews 
        Order allow,deny
        Allow from all
		Require all granted
    </Directory>
    
	<Directory "E:/Applicazioni/sviluppo/AppWeb-1.0/web/sue/">
        AllowOverride None
        Options Indexes FollowSymLinks Multiviews 
        Order allow,deny
		Allow from all
		Require all granted
		<IfModule mod_rewrite.c>
			RewriteEngine On
			RewriteBase /sue
		  
			RewriteCond %{REQUEST_FILENAME} !-f
			RewriteCond %{REQUEST_FILENAME} !-d
			RewriteRule ^([^/\.]+)/?$ index.php?pratica=$1 [QSA,L]
			RewriteRule ^([^/\.]+)/([^/\.]+)/?$ index.php?pratica=$1&action=$2 [QSA,L]
			#RewriteRule ^(.*)$ sue/index.php?pratica=$1 [QSA,L]
		</IfModule>
    </Directory>
</VirtualHost>